<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <div class="header">
      <button>Home</button>
      <button>Resume</button>
      <button>Projects</button>
    </div>
    <div class="content">
      <h2>Justin Toliver</h2>
      <img src="../static/selfie.jpg" alt="photo of Justin Toliver" />
      <p id="description">
        I'm an undergraduate student at
        <em>Jacksonville State University</em> and a Software Developer. I
        specialize in game development and backend software engineering. I am a
        hard worker, love video games, and a good challenge.
      </p>
    </div>
  </body>
</html>
