<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style/home.css" />
  </head>
  <body>
    <div class="header">
      <a href="../static/Justin Resume.pdf" download><button>Resume</button></a>
    </div>
    <div class="content">
      <div class="top-info">
        <h2>Justin Toliver</h2>
        <img
          id="selfie"
          src="../static/selfie.jpg"
          alt="photo of Justin Toliver"
        />
        <p id="description">
          I'm a senior undergraduate student at
          <em>Jacksonville State University</em> and a Software Developer.
          <br />
          I specialize in game development and backend software engineering.
          <br />
          I am a hard worker, love video games, and a good challenge.
        </p>
      </div>
      <div class="projects">
        <div class="game-projects">
          <h3>Game Projects</h3>

          <a href="https://betermain.itch.io/speed-saver">
            <img
              id="project-cover"
              src="../static/speed-saver.png"
              alt="cover image of a game called Speed Saver"
            />
          </a>
          <a href="https://betermain.itch.io/the-pirate-platformer">
            <img
              id="project-cover"
              src="../static/pirate-platformer.png"
              alt="cover image of a game called The Pirate Platformer"
            />
          </a>
          <a href="https://betermain.itch.io/space-escape">
            <img
              id="project-cover"
              src="../static/space-escape.png"
              alt="cover image of a game called Space Escape"
            />
          </a>
        </div>
        <div class="coding-projects">
          <h3>Coding Projects</h3>
          <table>
            <thead>
              <th>Video Game (Python)</th>
              <th>Clock-In Clock-Out System (Java)</th>
              <th>Expense Tracker (Python/Flask/MySQL)</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/BeterMain/gacha-game">
                    <img
                      id="project-cover"
                      src="../static/Video-Game-Transparent-Image.png"
                      alt="image of a controller"
                    />
                  </a>
                </td>
                <td>
                  <a href="https://github.com/BeterMain/cs310-teamproject-fa23">
                    <img
                      id="project-cover"
                      src="../static/notepad.png"
                      alt="notepad with pencil"
                    />
                  </a>
                </td>
                <td>
                  <a href="https://github.com/BeterMain/cs310-teamproject-fa23">
                    <img
                      id="project-cover"
                      src="../static/schedule-icon.jpg"
                      alt="picture of expense tracker app"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bottom-info">
        <h3>Contact Information</h3>
        <p>
          <strong>Justin Toliver</strong> <br />
          <strong>Email</strong>: justintoliver21@gmail.com <br />
          <strong>Phone Number</strong>: 678-818-7495
        </p>
        <a href="https://betermain.itch.io">
          <img id="logo" src="../static/itchi-io-logo.png" alt="itch.io logo" />
        </a>
        <a href="https://github.com/BeterMain">
          <img id="logo" src="../static/github-logo.png" alt="github logo" />
        </a>
        <a href="https://www.linkedin.com/in/justin-toliver-327840216/"
          ><img
            id="logo"
            src="../static/linkedin-logo.png"
            alt="linkedin logo"
          />
        </a>
      </div>
    </div>
  </body>
</html>
